.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.history/**
.yarn/**
.yarnrc
vitest.config.ts
.babelrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
